<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collaose navbar-collapse">
    <a routerLink="/perfil"
      ><input type="image" src="assets/logo.png " alt="logo" class="logo"
    /></a>
  </div>
</nav>

<div class="text-center text-white">
  <h1 class="jogando">Quem está jogando?</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <a routerLink="/home"
        ><input type="image" src="assets/bravo1.png" class="bravo"
      /></a>
    </div>

    <div class="col-lg-4">
      <a routerLink="/home">
        <input type="image" src="assets/sorriso1.png " class="sorriso" />
      </a>
    </div>
    <div class="col-lg-4">
      <a routerLink="/home">
        <input type="image" src="assets/olho1.png " class="olho" />
      </a>
    </div>
  </div>
</div>
