.navbar-collapse{
  background-color: transparent; 

    
}

.navbar{
  background-color:transparent;
}
.logo{
  width: 95px ;
  margin-left: 25px;
  margin-top: 10px;
}

.nav-link{
  color: #fff;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-right : 10px;
  font-size: 12px;
  font-weight: 250%;
  cursor: default;
}

.icone{
  width: 35%;
  font-weight:250%;
  
}

.noti{
  width: 65%;
  font-weight:250%;  
}






