<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collaose navbar-collapse">
    <img src="assets/logo.png " alt="logo" class="logo" />
  </div>
</nav>
<div class="text-center text-white">
  <h1 class="jogando">Quem está jogando?</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/bravo1.png" class="bravo" />
    </div>

    <div class="col-lg-4">
      <img src="assets/sorriso1.png " class="sorriso" />
    </div>

    <div class="col-lg-4">
      <img src="assets/olho1.png " class="olho" />
    </div>
  </div>
</div>
