<img src="assets/games.jpg" />

<!--
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-container">
    <a routerLink="/perfil"
      ><input type="image" src="assets/logo.png " alt="logo" class="logo"
    /></a>
  </div>
  <ul class="navbar-nav me-auto mb-3 mb-lg-0 ml-lg-2">
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page  ;">Aventura</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page">Terror</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page">Luta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page">RPG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page">Corrida</a>
    </li>
  </ul>
  -Lista Icone--
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav d-flex justify-content-lg-end">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page"
          ><img src="assets/icone.png" class="icone"
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page">Corrida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page"
          ><img src="assets/noti.png" class="noti"
        /></a>
      </li>
    </ul>
  </div>
</nav>
-->
